header a.navbar-brand img {
    max-height: 50px;
    margin-top: 2px;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #dd4814;
    border-color: #dd4814;
}

.oe_website_login_container {
    width: 400px;
    margin: 40px auto;
}


.navbar-default {
    background:rgba(247, 201, 64, 0.5);
}

.navbar-default .navbar-nav>li>a {
    color:#333333;
    font-size:102%;
}

.dropdown-menu {
    z-index: 10000;
    background-color: #FFFBF1;
}

.dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #dd4814;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #dd4814;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #FFFBF1;
    color: #555555;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #dd4814;
}

body {
    font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#FEF7E2;
    background-image: url('/diane/static/src/img/logo_trans.png');
    background-size: 100%;
    background-position:0px 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #dd4814;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #dd4814;
}

footer {
    background: rgba(247, 201, 64, 0.25) !important;
}

#map {
    height: 100%;
    width: 100%;
    padding-top:0px;
}
.breadcrumb {
    background-color:#f1ead6;
}

.fa-linkedin {
    margin-left:15px;
}

.btn-primary {
    color: #ffffff;
    background-color: #dd4814;
    border-color: #dd4814;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Ubuntu",Tahoma,Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.website_blog .o_blog_cover_container.cover_footer {
    background-color: #000;
}


