.navbar-default {
background-color:#F7C940;
}

body {
background-color:#FEF7E2;
background-image: url('/diane/static/src/img/logo_trans.png');
}

footer {
background: rgba(247, 201, 64, 0.5) !important;
}