.navbar-default {
background:rgba(247, 201, 64, 0.5);
}

.navbar-default .navbar-nav>li>a {
color:#333333;
font-size:105%;
}

body {
background-color:#FEF7E2;
background-image: url('/diane/static/src/img/logo_trans.png');
}

footer {
background: rgba(247, 201, 64, 0.25) !important;
}